body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
    color: #fff;
}



header {
    background-color: #3498db;
    
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
   
    text-align: center;
}
nav a{
    text-decoration: none;
    text-align: center;
}

nav ul li{
    
    padding: 0;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
}
/* Media Queries */
@media screen and (min-width: 768px) {
    nav {
        flex-direction: row; /* Poziomy układ na większych ekranach */
    }

    .menu-icon {
        display: none; /* Ukryj ikonkę menu na większych ekranach */
    }
}

/* ... (poprzedni kod) ... */

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: block; /* Domyślnie ukryj ikonkę na większych ekranach */
}

/* Media Queries */
@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
    }

    .menu-icon {
        display: none; /* Ukryj ikonkę menu na większych ekranach */
    }
}

